@tailwind base;
@tailwind components;
@tailwind utilities;

/* Neon Text */
.neon-text {
  color: #00ffcc;
  text-shadow: 0 0 5px #00ffcc, 0 0 1px #00ffcc, 0 0 4px #00ffcc, 0 0 10px #00ffcc;
}

/* Neon Button */
.neon-btn {
  box-shadow: 0 0 2px #00ffcc, 0 0 5px #00ffcc, 0 0 10px #00ffcc;
}
